$header-theme-background:#fbfbfb;
$header-theme-color:#d84315;
$button-theme-background:#f07c29;
$button-theme-color:#fff;
$searchBtn-theme-background:#28a745;
$searchBtn-theme-color:#fff;
$questions-theme-color:black;
$showHideToggleIcon-color:#f07c29;
$showHide-btn-background:white;
$showHide-btn-color:grey;
$background-img:'background-img.png';
$img-path:'./assets/images/';
$goldentheme-background-img: 'goldentheme-background-img.png'; 
$body-background: #fff;
$page-container-background: white;
$product-name-color:#333;
$product-description-color:#7e6e6e;
$container-border-color: #dcdcdc;
$btn-lightdefault-border: #dcdcdc;
$delete-icon-color: #ce4545;
$btn-default:#f8f9fa; 
$confirm-status-background: aliceBlue;
$check-icon-color: green;
$pendingclock-icon-color: #58b6d5;
$pending-status-background: whitesmoke;
$product-hover-border: black;
$goldentheme-product-hover: #eecd5f;
$btn-outline-color: #4fbfa8;
$btn-outline-color1: #004E64;
$btn-outline-color1-active: #003D4F;
$contact-us-footer: #edf0f5;
$copyright-footer: #313e24;
$goldentheme-copyright-footer: #313e24;
$contact-us-footercolor: #212529;
$contactus-linkicon-color: #005c50;
$contact-us-border: gainsboro;
$box-shadow-color: gainsboro;
$btn-outline-textcolor: #fff;
$btn-outlinesecondary-borderhover: #006400;
$btn-outline-backgroundhover: #3d8d7c;
$btn-search-background: #377d6e; 
$header-box-shadowcolor: rgba(0, 0, 0, 0.05);
$btn-outline-removebtn: indianred;
$phonenumber-link-color: green;
$cart-sticky-background: whitesmoke;
$outOfStock-background-color: #a90b0b;
$cart-icon-color: #a90b0b;
$goldentheme-header-background: #313e24;
$goldentheme-headertext-color:  #ad974f;
$goldentheme-panel-background: #e3dfce;
$goldentheme-productdescription-color: #231f20;
$goldentheme-productdescription-color:#333;
$goldentheme-badge-text: #fff;
$goldentheme-footer-color: #b5b196;
$goldentheme-confirmmodal-bordercolor: #c4baba;
$goldentheme-carouseltext-color: #beb89c;
/* const values */
$goldentheme-border-radius: 20px;