@import "./../../../../assets/scss/common.scss";
@import "./../../../../assets/scss/variables.scss";

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    .form-label {
        padding-left: 1.9rem;
        font-size: inherit;
        padding-top: calc(0.375rem + 1px);
        padding-bottom: calc(0.375rem + 1px);
    }

    .form-input {
        width: 88%;
        border-radius: 0.25rem;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        // background-color: #fff;
        // border: 1px solid #ced4da;
        background-clip: padding-box;
        border-radius: 0.25rem;
        transition: border-color .15s 
        ease-in-out,box-shadow .15s 
        ease-in-out;
    }

    .photo-btn {
        font-weight: 700;
        letter-spacing: .05em;
        border-radius: 20px;
        padding: 3px 10px !important;
        cursor: pointer;
        width: 9rem;

    }

    .btn-add {
       
        color: #313e24;
        background-color: #e3dfce;
        border-color: #313e24;
    }

    .btn-cancel {
        
        color: #ad974f;
        background-color: #313e24;
        border-color: #ad974f;
    }

}