@import "./../../../assets/scss/common.scss";

$goldenthemellogin-borderradius: 10px !important;

.switch-mode {
    margin-left: 10px;
    cursor: pointer;
}

.btn-outline-modal {
    padding: 5px 8px !important;
}

.arrowright-icon {
    font-size: 12px;
}

.login-panel-container {
    border-bottom-left-radius: $goldentheme-border-radius;
    border-bottom-right-radius: $goldentheme-border-radius;
    border-top-left-radius: $goldentheme-border-radius;
    border-top-right-radius: $goldentheme-border-radius;
    .login-register {
        background-color: $goldentheme-header-background;
        color: $goldentheme-headertext-color;
        font-weight: bold;
        padding: 10px 20px;
        border-top-left-radius: $goldentheme-border-radius;
        border-top-right-radius: $goldentheme-border-radius;
    }

    .field-container {
        padding: 8px 20px;
    }

    .action-btns {
        .login-btn {
            margin-left: 10px;
        }

        .btn {
            border-radius: $goldenthemellogin-borderradius;
        }

        .submit-btn {
            padding-top: 4px !important;
            padding-bottom: 4px !important;
        }
    }

    .practicener-checkbox {
        width: 25px;
        height: 30px;
    }

}
.registrationBox {
    width: 70%;
  
    .full-name-box {
      padding: 0;
  
      @media only screen and (max-width: 768px) {
        display: block;
      }
  
      .firstNameField {
        display: inline-block;
      }
      .middleName {
        margin: 5px 0px 5px 0px;
      }
    }
  }
  .required:after {
    content:" *";
    color: red;
  }
  .is-invalid {
    border-color: red;
    box-shadow: 0 0 5px red;
  }
  