<div class="pyro" *ngIf="isFireCrackerShown">
    <div class="before"></div>
    <div class="after"></div>
</div>
<h2 class="page-heading">Shopping cart</h2>
<div class="mutiple-selection-actionbtns" *ngIf="showMultiSelectedActionbtns && selectedProducts.selectedItems.length > 0">
    <div class="cart-item-actionbtns">
        <div class="row">
            <div class="col-6 col-md-2 select-deselect-btncontainer">
                <button class="btn btn-default btn-outline btn-light-default btn-full-width" (click)="selectDeselectAllItems()">{{currentSelectionText}} all</button>
            </div>
            <div class="product-price col-5 col-md-1">
                <span class="current-currency-symbol">{{currentCurrency}}</span>
                <span class="price-value">{{selectedProducts.price}}</span>
            </div>
            <div class="col-12 col-md-8 multiselect-btns-container">
                <button class="btn btn-outline place-order-btn" (click)="confirmOrder(null, true)">Place order</button>
                <button class="btn btn-outline-removebtn place-order-btn remove-btn" (click)="deleteSelectedCartItems()">
                    <fa-icon class="hand-cursor delete-icon-cartorder" [icon]="faTrash"></fa-icon>
                    remove
                </button>
            </div>
        </div>
    </div>
</div>
<div class="cart-container">
    <div class="row select-deselect-btncontainer" *ngIf="!showMultiSelectedActionbtns && cartList && cartList.length > 0">
        <button class="btn btn-default btn-outline btn-light-default" (click)="selectDeselectAllItems()">{{currentSelectionText}} all</button>
    </div>
    <div [ngClass]="cartItem.isSelected? 'cart-item-selected': 'cart-item-notselected'" class="row product-item"
        *ngFor="let cartItem of cartList; let i=index">
        <div class="col-md-5 col-xs-12">
            <div class="row">
                <div class="col-md-1 cart-checkbox-container">
                    <input type="checkbox" [(ngModel)]='cartItem.isSelected' (change)="toggleCheckboxSelection(cartItem, i)" class="cart-item-checkbox" />
                </div>
                <div class="col-md-11 carousel-container" *ngIf="cartItem.productImagesToBeShown">
                    <carousel>
                        <slide *ngFor="let item of cartItem.productImagesToBeShown;let i=index">
                            <img class="product-img" src='{{item}}' style="display: block; width: 100%;">
                        </slide>
                    </carousel>
                </div>
                <div class="col-md-11 product-img-container default-img-container"
                    *ngIf="!cartItem.productImagesToBeShown">
                    <img class="product-img" src="assets/images/herbal-med.jpg" />
                </div>
            </div>
        </div>
        <div class="col-md-7 col-xs-12">
            <div class="product-name">{{cartItem.productName}}</div>
            <!-- <div class="product-description">{{cartItem.description}}</div> -->
            <div class="product-price">
                <span class="current-currency-symbol">{{currentCurrency}}</span>
                <span class="price-value">{{cartItem.price}}</span>
            </div>
            <div class="row drug-quantity-container" *ngIf="cartItem.drugQuantity && cartItem.drugQuantity !== 'null'">
                <div class="col-12 drug-quantity-title">Drug quantity</div>
                <div class="col-12 drug-quantityvalue-container">
                    <span class="drug-quantity-value">{{cartItem.drugQuantity}}</span>
                </div>
            </div>
            <div class="row quantity-container">
                <div class="col-12 quantity-title">Quantity</div>
                <div class="quantity-fields-container input-group col-md-3 col-xs-10">
                    <div class="input-group-prepend">
                        <button class="input-group-text" [disabled]="cartItem.quantity == 1" (click)="decrementQuantity(cartItem, i)">-</button>
                    </div>
                    <input type="text" class="col-2 col-md-5 qty-input form-control" [(ngModel)]='cartItem.quantity' value="1"
                        id="input1" placeholder="Qty">
                    <div class="input-group-append">
                        <button class="input-group-text" [disabled]="(cartItem.quantity >= cartItem.stock)" [attr.title]="(cartItem.quantity >= cartItem.stock) ? sellerStocksEmptyText : '' " (click)="incrementQuantity(cartItem, i)">+</button>
                    </div>
                </div>
            </div>
            <div class="cart-item-actionbtns">
                <button class="btn btn-outline place-order-btn" (click)="confirmOrder(cartItem)">Place order</button>
                <button class="btn btn-outline-removebtn place-order-btn remove-btn" (click)="deleteCartItem(cartItem)">
                    <fa-icon class="hand-cursor delete-icon-cartorder" [icon]="faTrash"></fa-icon>
                    remove
                </button>
            </div>
        </div>
    </div>
    <div class="empty-data" *ngIf="cartList && cartList.length==0">
        Cart list is empty
    </div>
</div>
