<h2 class="text-center gallery-heading">Photos</h2>
<div class="container-fluid">
    <div class="row justify-content-start">
        <div class="col-md-2 col-sm-6 add-photo">
            <button type="button" class="btn btn-light btn-add-photo" (click)="openAddPhotosModal()">+ add
                photos</button>
        </div>
    </div>
    <!-- cards start -->
    <div class="col-md-12 card-main-container">
        <div class="row">
            <div class="col-md-3 col-sm-12 card-container">
                <div class="card">
                    <img src="./../../assets/images/images/Boswellia-serrata.jpg" class="card-img-top"
                        alt="Rasahriday/photo_gallery">
                    <div class="card-body">
                        <h5 class="card-title">Boswellia</h5>
                        <p class="card-text">Boswellia is an Ayurvedic spice with anti-inflammatory properties. It may
                            reduce joint
                            pain, enhance oral health, and improve digestion, as well as increase breathing capacity in
                            people with
                            chronic asthma.</p>
                        <a href="#" class="btn btn-primary btn-view-more">View more</a>

                        <!-- delete/edit for Admin -->
                        <div class="admin-btn">
                            <span class="edit-delete-container">

                                <svg (click)="openAddPhotosModal()" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" />
                                </svg>

                                <i class="fa fa-trash-o fa-trash" aria-hidden="true"></i>

                                <svg class="trash-image" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>

                            </span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 card-container">
                <div class="card">
                    <img src="./../../assets/images/herbal-med.jpg" class="card-img-top" alt="Rasahriday/photo_gallery">
                    <div class="card-body">
                        <h5 class="card-title">Ashwagandha</h5>
                        <p class="card-text">Ashwagandha is an Ayurvedic spice that may help your body manage stress
                            more
                            effectively. It may also lower your blood sugar levels and improve sleep, memory and muscle
                            growth.</p>
                        <a href="#" class="btn btn-primary btn-view-more">View more</a>

                        <!-- delete/edit for Admin -->
                        <div class="admin-btn">
                            <span class="edit-delete-container">

                                <svg (click)="openAddPhotosModal()" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" />
                                </svg>
                                <i class="fa fa-trash-o fa-trash" aria-hidden="true"></i>

                                <svg class="trash-image" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>

                            </span>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 card-container">
                <div class="card">
                    <img src="./../../assets/images/images/download.jfif" class="card-img-top"
                        alt="Rasahriday/photo_gallery">
                    <div class="card-body">
                        <h5 class="card-title">Varicose Veins Treatment</h5>
                        <p class="card-text">Accurate diagnosis is very important for effective treatment. According to
                            Ayurveda, an
                            imbalance of the Vata (wind and space) plays a pivotal role in Varicose Veins. The role of
                            Rakhta (blood)
                            and Pitta (heat) cannot be neglected either. Thus, restoring the Vata balance becomes a very
                            important
                            part of the treatment.</p>
                        <a href="#" class="btn btn-primary btn-view-more">View more</a>

                        <!-- delete/edit for Admin -->
                        <div class="admin-btn">
                            <span class="edit-delete-container">

                                <svg (click)="openAddPhotosModal()" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" />
                                </svg>
                                <i class="fa fa-trash-o fa-trash" aria-hidden="true"></i>

                                <svg class="trash-image" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>

                            </span>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 card-container">
                <div class="card">
                    <img src="./../../assets/images/images/medicine3.png" class="card-img-top"
                        alt="Rasahriday/photo_gallery">
                    <div class="card-body">
                        <h5 class="card-title">Ayurvedic Treatment</h5>
                        <p class="card-text">Ayurveda treatment starts with an internal purification process, followed
                            by a special
                            diet, herbal remedies, massage therapy, yoga, and meditation.</p>
                        <a href="#" class="btn btn-primary btn-view-more">View more</a>

                        <!-- delete/edit for Admin -->
                        <div class="admin-btn">
                            <span class="edit-delete-container">

                                <svg (click)="openAddPhotosModal()" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" />
                                </svg>
                                <i class="fa fa-trash-o fa-trash" aria-hidden="true"></i>

                                <svg class="trash-image" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>

                            </span>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 card-container">
                <div class="card">
                    <img src="./../../assets/images/images/medicine4.jpg" class="card-img-top"
                        alt="Rasahriday/photo_gallery">
                    <div class="card-body">
                        <h5 class="card-title">Ayurvedic Treatment</h5>
                        <p class="card-text">Ayurveda treatment starts with an internal purification process, followed
                            by a special
                            diet, herbal remedies, massage therapy, yoga, and meditation.</p>
                        <a href="#" class="btn btn-primary btn-view-more">View more</a>

                        <!-- delete/edit for Admin -->
                        <div class="admin-btn">
                            <span class="edit-delete-container">

                                <svg (click)="openAddPhotosModal()" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" />
                                </svg>
                                <i class="fa fa-trash-o fa-trash" aria-hidden="true"></i>

                                <svg class="trash-image" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>

                            </span>
                        </div>


                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-12 card-container">
                <div class="card">
                    <img src="./../../assets/images/images/medicine.jpg" class="card-img-top"
                        alt="Rasahriday/photo_gallery">
                    <div class="card-body">
                        <h5 class="card-title">Ayurvedic Treatment</h5>
                        <p class="card-text">Ayurveda treatment starts with an internal purification process, followed
                            by a special
                            diet, herbal remedies, massage therapy, yoga, and meditation.</p>
                        <a href="#" class="btn btn-primary btn-view-more">View more</a>

                        <!-- delete/edit for Admin -->
                        <div class="admin-btn">
                            <span class="edit-delete-container">

                                <svg (click)="openAddPhotosModal()" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" />
                                </svg>
                                <i class="fa fa-trash-o fa-trash" aria-hidden="true"></i>

                                <svg class="trash-image" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>

                            </span>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 card-container">
                <div class="card">
                    <img src="./../../assets/images/images/medicine6.jpg" class="card-img-top"
                        alt="Rasahriday/photo_gallery">
                    <div class="card-body">
                        <h5 class="card-title">Ayurvedic Treatment</h5>
                        <p class="card-text">Ayurveda treatment starts with an internal purification process, followed
                            by a special
                            diet, herbal remedies, massage therapy, yoga, and meditation.</p>
                        <a href="#" class="btn btn-primary btn-view-more">View more</a>

                        <!-- delete/edit for Admin -->
                        <div class="admin-btn">
                            <span class="edit-delete-container">

                                <svg (click)="openAddPhotosModal()" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" />
                                </svg>
                                <i class="fa fa-trash-o fa-trash" aria-hidden="true"></i>

                                <svg class="trash-image" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>

                            </span>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 card-container">
                <div class="card">
                    <img src="./../../assets/images/images/medicine7.jpg" class="card-img-top"
                        alt="Rasahriday/photo_gallery">
                    <div class="card-body">
                        <h5 class="card-title">Ayurvedic Treatment</h5>
                        <p class="card-text">Ayurveda treatment starts with an internal purification process, followed
                            by a special
                            diet, herbal remedies, massage therapy, yoga, and meditation.</p>
                        <a href="#" class="btn btn-primary btn-view-more">View more</a>

                        <!-- delete/edit for Admin -->
                        <div class="admin-btn">
                            <span class="edit-delete-container">

                                <svg (click)="openAddPhotosModal()" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" />
                                </svg>
                                <i class="fa fa-trash-o fa-trash" aria-hidden="true"></i>

                                <svg class="trash-image" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>

                            </span>
                        </div>


                    </div>
                </div>
            </div>

            <!-- cards end -->
        </div>

    </div>

</div>